@import 'variables';
.content-contact{
    position: relative;
    &-banner{
        background-image: url(../images/banner-5.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        -o-object-fit: cover;
        object-fit: cover;
        height: 65.3rem;
        &__wrap{
            &--title{
                padding-top: 12.2rem;
                line-height: 4.9rem;
                font-size: 4.2rem;
                font-weight: 700;
                color: $white;
            }
            &--sub{
                margin-top: 2rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.3rem;
                color: $white;
                width: 50%;
            }
        }
    }
    &-image{
        background-image: url(../images/background-main.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        -o-object-fit: cover;
        object-fit: cover;
        height: 65.3rem;
    }
    &-box{
        background-color: $white;
        padding: 10rem 3rem;
        border-radius:2rem;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 1.5rem 1.5rem 3.8rem 0 rgb(0 0 0 / 20%);
        -webkit-box-shadow: 1.5rem 1.5rem 3.8rem 0 rgb(0 0 0 / 20%);
        &__name{
            margin-bottom:3.7rem;
        }
        .content-contact-box__input{
            width: 100%;
            height: 6.3rem;
            border-radius: 1.5rem;
            border: 0.1rem solid $color-contact;
            outline: none;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2.1rem;
            padding-left: 3.4rem;
        }
        &__describe{
            margin-top: 3.7rem;
            &--textarea{
                width: 100%;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 2.1rem;
                padding: 2rem 0 0 3.4rem;
                border: 0.1rem solid $color-contact;
                outline: none;
                border-radius: 1.5rem;
            }
        }
        &__captcha{
            margin-top: 3.7rem;
        }
        &__submit{
            background-color: $main;
            color: $white;
            font-size: 2.1rem;
            line-height: 2.5rem;
            font-weight: 700;
            font-family: Roboto-Bold;
            outline: none;
            border: none;
            margin-top: 4.5rem;
            padding: 1.1rem 5rem;
            border-radius: 1.5rem;
        }
    }
}

.contact-industries{
    .box-center{
        justify-content: center;
    }
    margin-top: 9rem;
    margin-bottom: 10rem;
    &-heading{
        font-weight: 400;
        font-size: 4.2rem;
        line-height: 4.9rem;
        color: $black;
        margin-bottom: 5.6rem;
    }
    &-image{
        width: 13.2rem;
        height: 13.3rem;
        margin: 0 auto;
    }
    &-name{
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.1rem;
        text-align: center;
        color: $color-contact-industries;
        margin: 2rem 0 2.2rem;
    }
    &-sub{
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.9rem;
        text-align: center;
        color:$color-text;
    }
}