@import 'variables';

.wrap-footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    // min-height: 60vh;
    min-height: 70vh;
    background-color: #fff;
}

.footer {
    padding-top: 3.6rem;
    position: relative;
    width: 100%;
    background-color: $main;
    min-height: 28.5rem;
    &-logo{
        &-image{
            width: 22.5rem;
            height: 2.9rem;
            filter: drop-shadow(0px 3px 5px rgba(255, 255, 255, 0.47));
        }
        &-describe{
            p{
                margin-top: 2.4rem;
                color: $white;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.1rem;
                font-family: Roboto-regular;
                text-align: justify;
                padding-right: 8rem;
            }
        }
    }
    &-address{
        &-title{
            color: $white;
            font-size: 2.4rem;
            line-height: 3.9rem;
            font-weight: 700;
            font-family: Roboto-regular;
        }
        &-details{
            margin-top: 1.4rem;
            color: $white;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.1rem;
            font-family: Roboto-regular;
        }
        &-phone{
            margin-top: 1.4rem;
            color: $white;
            font-size: 2.4rem;
            line-height: 3.8rem;
            font-weight: 700;
            font-family: Roboto-regular;
        }
        &-number{
            margin-top: 1.4rem;
            color: $white;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.1rem;
            font-family: Roboto-regular;
        }
    }
    &-social{
        &-title{
            color: $white;
            font-size: 2.4rem;
            line-height: 3.9rem;
            font-weight: 700;
            font-family: Roboto-regular;
        }
        &-icon{
            &__list{
                display: flex;
                &--item{
                    margin-top: 1.4rem;
                    padding-left: 1.8rem;
                }
            }
            .none-padding{
                padding-left: 0rem;
            }
        }
    }
    &-copyright{
        margin-top: 3.5rem;
        border-top: 1px solid $border-top-footer;
        display: flex;
        justify-content: space-around;
        p{
            margin-top: 2.1rem;
            color: $white;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.1rem;
            font-family: Roboto-regular;
            margin-bottom: 1.6rem;
        }
    }
}

.footer{
    .wave{
        position: absolute;
        top: -10rem;
        left: 0;
        width: 100%;
        height: 10rem;
        background:url(../images/wave.jpg);
        background-size: 100rem 10rem;
    }
    #wave1{
        z-index: 10;
        opacity: 0.9;
        bottom: 0;
        animation: animateWave 4s linear infinite;
    }
    #wave2{
        z-index: 9;
        opacity: 0.5;
        bottom: 1rem;
        animation: animateWave_02 4s linear infinite;
    }
    #wave3{
        z-index: 9;
        opacity: 0.2;
        bottom: 1.5rem;
        animation: animateWave_02 3s linear infinite;
    }
    #wave4{
        z-index: 9;
        opacity: 0.7;
        bottom: 2rem;
        animation: animateWave_02 3s linear infinite;
    }
}

@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
