@include responsive_mobile{
    .wrap-footer{
        min-height:116vh;
    }
    .footer{
        &-logo {
            text-align: -webkit-center;
            &-describe{
                p{
                    text-align: center;
                    margin-top: 1.2rem;
                    padding-right: 0rem;
                }
            }
        }
        &-address,
        &-social{
            text-align: center;
        }
        &-social{
            &-icon__list{
                display: flex;
                justify-content: center;
            }
        }
        &-copyright{
            display: flex;
            text-align: center;
            flex-direction: column-reverse;
            p{  
                margin-top: 1.2rem;
            }
        }
    }
}
@include responsive-tablet{
    .wrap-footer{
        min-height: 115vh;
    }
}