@include responsive_mobile{
    .content-product{
        .product-outside{
            margin-top: 5rem;
            margin-bottom: 5rem;
            &-title{
            font-size: 2.6rem;
            line-height: 3.8rem;
            }
            &-sub{
                margin-top: 2.2rem;
                font-size: 1.8rem;
                line-height: 2.6rem;
            }
        }
        .product-top-list__item{
        left: 0;
        margin-bottom: -2.5rem;
        }
        .product-top-list__item--sub {
            margin: 1.5rem 20% 1rem 4rem;
            height: 4rem;
            text-align: justify;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
        }
        .product-top-list__item--image{
            width: 93%;
            height: 30rem;
            border-radius: 1rem;
            overflow: hidden;
            margin-left: 1.3rem;
            img{
                border-radius: 0rem;
                width: 100%;
                height: 100%;
                filter: brightness(0.8);
            }
        }
        .product-bottom{
            margin-top: 0.4rem;
            &-list__item{
                left: 0;
                height: 32rem;
                margin-bottom: 0.5rem;
            }
            &-list__item--sub {
                margin: 1.5rem 20% 1rem 4rem;
                height: 4rem;
                text-align: justify;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
            }
            &-list__item--image{
                width: 93%;
                height: 30rem;
                border-radius: 1rem;
                overflow: hidden;
                margin-left: 1.3rem;
                img{
                    border-radius: 0rem;
                    width: 100%;
                    height: 100%;
                    filter: brightness(0.8);
                }
            }
        }
    }
    .product-pagination{
        display: none;
    }

    .product-top-list .slick-list{
        padding: 0 50px;
    }
    .product-bottom-list .slick-list{
        padding: 0 50px;
    }
}

@include responsive_tablet{
    .content-product{
        .product-outside{
            margin-top: 5rem;
            margin-bottom: 5rem;
            &-sub{
                margin-top: 2.2rem;
            }
        }
        .product-top-list__item{
        left: 0;
        margin-bottom: -2.5rem;
        }
        .product-top-list__item--sub {
            margin: 1.5rem 20% 1rem 4rem;
            height: 10.6rem;
        }
        .product-top-list__item--image{
            width: 93%;
            height: 30rem;
            border-radius: 1rem;
            overflow: hidden;
            margin-left: 1.3rem;
            img{
                border-radius: 0rem;
                width: 100%;
                height: 100%;
                filter: brightness(0.8);
            }
        }
        .product-bottom-list__item{
            left: 0;
            height: 32rem;
            margin-bottom: 0.5rem;
        }
        .product-bottom-list__item--sub {
            margin: 1.5rem 20% 1rem 4rem;
            height: 9rem;
        }
        .product-bottom-list__item--image{
            width: 93%;
            height: 30rem;
            border-radius: 1rem;
            overflow: hidden;
            margin-left: 1.3rem;
            img{
                border-radius: 0rem;
                width: 100%;
                height: 100%;
                filter: brightness(0.8);
            }
        }
    }
    .product-top-list .slick-list{
        padding: 0 50px;
    }
    .product-bottom-list .slick-list{
        padding: 0 50px;
    }
}

@include responsive_pc{
    .content-product{
        .product-top-list__item{
        left: 0;
        margin-bottom: -2.5rem;
        }
        .product-top-list__item--sub {
            margin: 1.5rem 30% 1rem 4rem;
            height: 10.6rem;
        }
        .product-top-list__item--image{
            width: 93%;
            height: 30rem;
            border-radius: 1rem;
            overflow: hidden;
            margin-left: 1.3rem;
            img{
                border-radius: 0rem;
                width: 100%;
                height: 100%;
                filter: brightness(0.8);
            }
        }
        .product-bottom-list__item{
            left: 0;
            height: 32rem;
            margin-bottom: 0.5rem;
        }
        .product-bottom-list__item--sub {
            margin: 1.5rem 30% 1rem 4rem;
            height: 9rem;
        }
        .product-bottom-list__item--image{
            width: 93%;
            height: 30rem;
            border-radius: 1rem;
            overflow: hidden;
            margin-left: 1.3rem;
            img{
                border-radius: 0rem;
                width: 100%;
                height: 100%;
                filter: brightness(0.8);
            }
        }
    }
}
