@import 'variables';

@include responsive_tablet {
    .banner-home{
        &-outside{
            &__image1,
            &__image2{
                height: 50rem;
                object-fit: cover;

            }
        }
        &-heading{
            top: 40%;
            transform: translateY(-50%);
            left: 10%;
            font-size: 2.6rem;
            line-height: 3.2rem;

        }
        &-text{
            left: 10%;
            top: 55%;
            right: 10%;
        }
    }

    .content-home{
        .home-info{
            padding-top: 6rem;
            padding-bottom: 3rem;
            &-body{
                &__image{
                    width: 20rem;
                }
                &__title{
                    line-height: 4rem;
                    padding-bottom: 2rem;
                }
                &__text{
                    font-size: 2rem;
                    line-height: 2.2rem;
                }
                &__list{
                    margin-top: 2rem;
                    &-item{
                        margin: 1.5rem 0;
                        &--left{
                            img{
                                width: 60%;
                                margin: 0 auto;
                            }
                        }
                        &--right{
                            &-heading{
                                padding-bottom: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .home-brand{
            &-image{
                height: 50rem;
                display: flex;
                align-items: center;
                padding: 0 2rem;
                .home-brand-body{
                    &__list{
                        margin-top: 2rem;
                        &-item{
                            display: flex;
                            align-items: center;
                            &--heading{
                                font-size: 2rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        .home-contact{
            &-image{
                height: 30rem;
            }
            &-btn{
                bottom: 2rem;
                padding: 0.5rem 1rem;
                left: 20%;
                a{
                    font-size: 1.8rem;
                    .home-contact-btn__image{
                        width: 2.2rem;
                        height: 2.2rem;
                        margin-left: 1rem;
                    }
                }
            }
        }
        .home-reason{
            &-list{
                margin-top: 8rem;
                &__item{
                    display: block;
                    padding: 0 1rem;
                    &--image{
                        width: 8rem;
                        height: 15rem;
                        margin: 0 auto;
                    }
                    &--heading{
                        font-size: 2.8rem;

                    }
                    &--text{
                        margin-top: 2rem;
                        text-align: -webkit-auto;
                    }
                }
            }
        }
    }
}
@include responsive_tablet-mobile {
    .banner-home {
        &-image {
            padding-top: 50%;
            position: relative;
        }
        &-btn {
            position: absolute;
            bottom: 14%;
            font-size: 2rem;
            font-weight: 700;
            padding: 1rem 1.3rem;
            margin-left: 10.5%;
            &__image {
                width: 2rem;
                height: 2rem;
                margin-left: 0.8rem;
            }
        }
    }
    .content-home {
        
        .home-reason {
            margin-top: 12.6rem;
            &-title {
                font-size: 1.8rem;
                margin-bottom: 5.7rem;
                span {
                    font-size: 2.8rem;
                }
            }
            &-text {
                font-size: 1.6rem;
                span {
                    font-size: 2rem;
                }
            }
        }
      
    }
}
@include responsive_mobile {
    .header {
        &-body {
            &-logo {
                margin-left: 3.4rem;
            }
        }
    }
    .banner-home {
        &-btn {
            padding: 0.5rem 0.8rem;
            margin-left: 10.5%;
            font-size: 1.4rem;
            display: none;
            &__image {
                width: 2.2rem;
                height: 2.2rem;
                margin-left: 0.8rem;
            }
        }
    }
    .content-home {
        .home-info {
            &-body {
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                &__image {
                    width: 25rem;
                    height: 25rem;
                    margin: 6.3rem auto 0;
                }
                &__title { 
                    text-align: center;
                    font-size: 2.6rem;
                    margin-top: 1rem;
                    margin-bottom: 2.8rem;
                }
                &__text {
                    font-size: 1.8rem;
                    margin-bottom: 4.7rem;
                }
                &__list {
                    &-item {
                        &--left {
                            width: 6rem;
                            height: 6rem;
                        }
                        &--right {
                            width: 80%;
                            &-heading {
                                font-size: 1.8rem;
                            }
                            &-text {
                                font-size: 1.8rem;
                                margin-bottom: 4.7rem;
                            }
                        }
                    }
                }
            }
        }
        .home-industries {
            &-image {
                padding-bottom: 9%;
                padding-top: 9%;
            }
            &-body {
                &__title { 
                    font-size: 2.6rem;
                    margin-left: 1.5rem;
                    margin-bottom: 5rem;
                    span {
                        width: 8rem;
                        bottom: -0.6rem;
                        left: 0;
                    }
                }
                &__list {
                    position: relative;
                    &-item {
                        margin: 0 6rem;
                        &--image {
                            width: 14rem;
                            height: 14rem;
                            margin: 7.9rem auto 4.4rem;
                            transition: none;
                        }
                        &--heading {
                            margin: 2.6rem;
                            font-size: 2rem;
                            transition: none;
                        }
                        &--text {
                            padding-bottom: 5.8rem;
                            visibility: unset;
                            opacity: 1;
                            font-size: 1.7rem;
                        }
                    }
                }
            }
            .industries-right {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 1rem;
                font-size: 6rem;
                color: $white;
                z-index: 1;
            }
            .industries-left{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 1rem;
                font-size: 6rem;
                color: $white;
                z-index: 1;
            }
        }
        .home-contact {
            &-image {
                background-image: url('../images/contactMobilejpg.jpg');
                height: 81rem;
               
            }
            &-btn{
                bottom: 3rem;
                left: 50%;
                transform: translateX(-50%);
                padding: 1rem 1.3rem;

            }
        }
        .home-brand {
            &-image {
                margin-left: -20rem;
                background-position: unset;
            }
            &-body {
                text-align: center;
                margin-left: 21.5rem;
                margin-right: 1.5rem;
                &__title {
                    font-size: 2.8rem;
                    margin-top: 7.8rem;
                }
                &__text {
                    font-size: 2.6rem;
                    margin-top: 6rem;
                    margin-bottom: 6.6rem;
                }
                &__list {
                    display: block;
                    padding-bottom: 7.8rem;
                    &-item {
                        .count {
                            font-size: 3.5rem;
                        }
                        &--heading {
                            font-size: 2.8rem;
                        }
                    }
                }
            }
        }
        .home-reason {
            &-list {
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                margin-top: 6.7rem;
                &__item {
                    &--image {
                        width: 7.1rem;
                        height: 9.2rem;
                        margin: 0 auto;
                    }
                    &--heading {
                        font-size: 2.4rem;
                        margin-bottom: 2.2rem;
                    }
                    &--text {
                        font-size: 1.8rem;
                        padding: 0 0.8rem 1rem;
                    }
                }
            }
        }
      
    }
}
@include responsive_pc {
.banner-home {
    &-outside {
        &__image1,
        &__image2 {
            height: 84.4rem;
        }
    }
    &-heading {
        margin-left: 10.5%;
        bottom: 45.7rem;
        font-size: 6rem;
        line-height: 7rem;

    }
    &-text {
        margin-left: 10.5%;
        bottom: 40.9rem;
    }
    &-btn {
        font-size: 2.4rem;
        padding: 1rem 1.3rem;
        margin-left: 10.5%;
        bottom: 30.5rem;
        &__image {
            width: 3.2rem;
            height: 3.2rem;
            margin-left: 0.8rem;
        }
    }
    .slick-dots{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 3.2rem;
        li{
            margin: 0.5rem 0;
        }
    }
    .slick-dots{
        button{
            display: block;
            width: 1rem;
            height: 1rem;
            padding: 0;
            border: none;
            border-radius: 100%;
            background-color: $slick-dots;
            text-indent: -9999px;
        }
    }
}
.content-home {
    .home-info {
        &-body {
            padding-top: 13.4rem;
            &__title {
                margin-bottom: 2.6rem;
            }
            &__text {
                margin-bottom: 5.8rem;
                font-size: 2.4rem;
                line-height: 2.8rem;
            }
            &__list {
                &-item {
                    width: 50%;
                    margin-bottom: 6.5rem;
                    &--left {
                        width: 6rem;
                        height: 6rem;
                    }
                }
            }
        }
    }
    .home-industries {
        &-body {
            &__title {
                padding-top: 7.9rem;
                span {
                    width: 11.5rem;
                    bottom: -0.6rem;
                    left: 0;
                }
            }
            &__list {
                padding: 7.5rem 0 0;
                &-item {
                    height: 32rem;
                    width: 100% !important;
                    &--image {
                        width: 11rem;
                        height: 11rem;
                        margin: 4.5rem auto 0;
                    }
                    &--heading {
                        margin: 3.8rem 1.5rem 0.8rem;
                    }
                    &--text {
                        margin: 14rem 1rem 0;
                    }
                }
                li + li {
                    margin-left: 1rem;
                }
            }
        }
        &-image {
            height: 75.1rem;
        }
        .industries-left,
        .industries-right {
            display: none;
        }
    }
    .home-brand {
        height: 59.6rem;
        &-body {
            padding-top: 17rem;
            &__title {
                margin-bottom: 4.9rem;
            }
            &__text {
                margin-bottom: 4.9rem;
            }
            &__list{
                &-item{
                    &--heading{
                        font-size: 3rem;
                        line-height: 4.9rem;
                    }
                }
            }
        }
        &-image {
            height: 59.9rem;
        }
    }
    .home-contact {
        position: relative;
        &-image {
            padding-top: 31%;
            display: block;
        }
        .home-contact-btn {
            bottom: 4rem;
            left: 52.5rem;
            padding: 1rem 1.3rem;
            &__image {
                width: 3.2rem;
                height: 3.2rem;
                margin-left: 0.8rem;
            }
        }
    }
    .home-reason {
        &-title {
            margin-top: 15rem;
        }
        &-text {
            span {
                margin-top: 3rem;
            }
        }
        &-list {
            &__item {
                margin-top: 10.8rem;
                &--image {
                    width: 10rem;
                    height: 10rem;
                    margin: 0 auto;
                }
                &--heading {
                    margin-top: 6rem;
                    margin-bottom: 4.1rem;
                    font-size: 3rem;
                }
                &--text {
                    margin: 0 1.5rem;
                    text-align: justify;

                }
            }
        }
    }

    .home-map{
        margin-top: 10rem;
    }

}
}