@import 'variables';
.base-banner {
    .banner-service {
        &-heading,
        &-text {
            position: absolute;
            color: $white;
            font-family: Roboto-Regular;
            margin-left: 10.5%;
            top: 50%;
            transform: translateY(-50%);
        }
        &-heading {
            font-size: 4.2rem;
            line-height: 4.9rem;
            text-transform: uppercase;
        }
        &-text {
            font-size: 2.4rem;
            line-height: 2.8rem;
            margin-top: 6.2rem;
        }
    }
}
.service-navigation {
    background: $main;
    height: 6rem;
    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 6rem;
        &__item {
            position: relative;
            &--link {
                position: relative;
                right: 0;
                font-size: 1.8rem;
                font-family: Roboto-Bold;
                line-height: 2.1rem;
                color: $white;
                transition: 1s ease-in-out;
            }
            &--link:hover { 
                transform: translateY(-0.8rem);
            }
            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-right: 0.2rem solid $white;
                height: 40%;
                margin-left: 4rem;
            }
            &--link:hover {
                color: $white;
            }
        }
    }
    li + li {
        margin-left: 8rem;
    }
}
.content-service {
    &-item {
        padding: 14.8rem 0 19.9rem;
        &__box{
            display: flex;
        }
        &__image {
            overflow: hidden; 
            border-radius: 1.5rem;
            cursor: pointer;
            height: 36rem;
            img {
                transition: all 0.9s;
                height: 100%;
                border-radius: 1.5rem;
            }
        }
        &__image:hover img {
            transform: scale(1.2);
        }
        &__info {
            &--heading {
                font-style: normal;
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 2.6rem;
                color: $main;
            }
            &--text{
                font-size: 1.7rem;
                line-height: 2.3rem;
            }
            &--list {
                &-item{
                    font-size: 1.7rem;
                    line-height: 2.3rem;
                }
            }
            &--btn{       
                height: 3.2rem;
                width: 100%;
                &-link{
                    border-radius: 1rem;
                    width: 18.9rem;
                    background: $main;
                    font-size: 1.8rem;
                    line-height: 3.1rem;
                    color: $white;
                    display: block;
                    text-align: center;
                }
                &-link:hover {
                    color: $white;
                }
            }
        }

    }
    .content-service-item:nth-of-type(2n+1) {
        background: $white;
        .content-service-item__info {
            padding-left: 6.7rem;
        }
    }
    .content-service-item:nth-of-type(2n+2) {
        background: $background-color;
        .content-service-item__info {
            padding-right: 9rem;
        }
    }
}