$black: #000;
$white: #fff;
$main: #FF9330;
$red: #fe0002;
$brown: #966842;
$border-top-footer: #CECECE;
$grey: #5b5b5b;
$color-number:#252930;
$border-career:#959595;
$color-career: #4D4D4D;
$backgroung-color: #f5f5f5;
$color-text: #6d6d6d;
