$black: #000;
$white: #fff;
$main: #FF9330;
$red: #fe0002;
$brown: #966842;
$border-top-footer: #CECECE;
$grey: #5b5b5b;
$color-number:#252930;
$border-career:#959595;
$color-career: #4D4D4D;
$backgroung-color: #f5f5f5;
$color-text: #6d6d6d;
$color-contact:#A7A7A7;
$backgroung-color-career:#ffffffa1;
$border-bottom-career: #818181;
$slick-dots-active:#797979;
$slick-dots: #d9d9d9;
$color-contact-industries: #0D0D0D;