$black: #000;
$white: #fff;
$main: #FF9330;
$red: #fe0002;
$brown: #966842;
$grey: #5b5b5b;
$color-number:#252930;
$color-career: #4D4D4D;
$color-contact:#A7A7A7;
$color-heading-brand: #141414;
$color-title-brand: #394244;
$color-heading-reason: #030303;
$color-text: #6d6d6d;
$color-modat-contact: #949494;
$color-rgba-footer: #ffffff78;
$color-rgba-header: #00000080;
$color-rgba-career:#00000040;
$color-rgba-main:#00000066;
$color-rgb-contact:#00000033;
$background-color: #f5f5f5;
$background-color-career:#ffffffa1;
$background-color-industries: #FF7E07;
$background-color-btn: #F0A21A;
$background-color-header: #383838;
$background-color-message: #FF9935;
$border-career:#959595;
$border-top-footer: #CECECE;
$border-bottom-career: #818181;
$border-contact-textarea:#424242;
$slick-dots-active:#797979;
$slick-dots: #d9d9d9;
$color-contact-industries: #0D0D0D;