html,
body {
  overflow-x: hidden;
  font-size: 1.6rem;
  line-height: 1em;
  color: #000;
  box-sizing: border-box;
}

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Roboto-Bold;
  line-height: 2em;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

a:hover {
  color: #000;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.header-active {
  color: #FF9330;
  font-weight: bold;
}

.wrap-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 60vh;
  background-color: #fff;
}

.footer {
  padding-top: 3.6rem;
  position: relative;
  width: 100%;
  background-color: #FF9330;
  min-height: 28.5rem;
}
.footer-logo-image {
  width: 22.5rem;
  height: 2.9rem;
  filter: drop-shadow(0px 3px 5px rgba(255, 255, 255, 0.47));
}
.footer-logo-describe p {
  margin-top: 2.4rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-family: Roboto-regular;
}
.footer-address-title {
  color: #fff;
  font-size: 2.4rem;
  line-height: 3.9rem;
  font-weight: 700;
  font-family: Roboto-regular;
}
.footer-address-details {
  margin-top: 1.4rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-family: Roboto-regular;
}
.footer-address-phone {
  margin-top: 1.4rem;
  color: #fff;
  font-size: 2.4rem;
  line-height: 3.8rem;
  font-weight: 700;
  font-family: Roboto-regular;
}
.footer-address-number {
  margin-top: 1.4rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-family: Roboto-regular;
}
.footer-social-title {
  color: #fff;
  font-size: 2.4rem;
  line-height: 3.9rem;
  font-weight: 700;
  font-family: Roboto-regular;
}
.footer-social-icon__list {
  display: flex;
}
.footer-social-icon__list--item {
  margin-top: 1.4rem;
  padding-left: 1.8rem;
}
.footer-social-icon .none-padding {
  padding-left: 0rem;
}
.footer-copyright {
  margin-top: 3.5rem;
  border-top: 1px solid #CECECE;
  display: flex;
  justify-content: space-around;
}
.footer-copyright p {
  margin-top: 2.1rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-family: Roboto-regular;
  margin-bottom: 1.6rem;
}

.footer .wave {
  position: absolute;
  top: -10rem;
  left: 0;
  width: 100%;
  height: 10rem;
  background: url(../images/wave.jpg);
  background-size: 100rem 10rem;
}
.footer #wave1 {
  z-index: 1000;
  opacity: 0.9;
  bottom: 0;
  -webkit-animation: animateWave 4s linear infinite;
          animation: animateWave 4s linear infinite;
}
.footer #wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 1rem;
  -webkit-animation: animateWave_02 4s linear infinite;
          animation: animateWave_02 4s linear infinite;
}
.footer #wave3 {
  z-index: 999;
  opacity: 0.2;
  bottom: 1.5rem;
  -webkit-animation: animateWave_02 3s linear infinite;
          animation: animateWave_02 3s linear infinite;
}
.footer #wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 2rem;
  -webkit-animation: animateWave_02 3s linear infinite;
          animation: animateWave_02 3s linear infinite;
}

@-webkit-keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@-webkit-keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
.header {
  border-bottom: 1px solid #FF9330;
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../font/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../font/Roboto-Regular.ttf");
}
.product-heading {
  margin-top: 11rem;
  margin-bottom: 10.4rem;
}
.product-heading-title {
  font-weight: 700;
  color: #FF9330;
  line-height: 5.2rem;
  font-size: 3.6rem;
  text-align: center;
  font-family: Roboto-regular;
}
.product-heading-sub {
  margin-top: 6.1rem;
  font-weight: 700;
  color: #000;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.6rem;
  font-family: Roboto-regular;
}

.product-top-list__item {
  height: 35rem;
  position: relative;
  left: 1rem;
}
.product-top-list__item--image {
  position: absolute;
  width: 58rem;
  height: 100%;
}
.product-top-list__item--image img {
  border-radius: 2rem;
}
.product-top-list__item--title {
  font-size: 1.8rem;
  position: relative;
  margin-top: 4rem;
  margin-left: 4rem;
  color: #fff;
}
.product-top-list__item--sub {
  font-size: 1.6rem;
  position: relative;
  margin: 1.5rem 39% 2rem 4rem;
  height: 8rem;
  color: #fff;
}
.product-top-list__item--button {
  position: relative;
  font-size: 1.6rem;
  color: #fff;
  background-color: #F0A21A;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  margin-left: 4rem;
  border: none;
}

.product-bottom {
  margin-top: 10.4rem;
}
.product-bottom-list__item {
  height: 35rem;
  position: relative;
  left: 1rem;
}
.product-bottom-list__item--image {
  position: absolute;
  width: 58rem;
  height: 100%;
}
.product-bottom-list__item--image img {
  border-radius: 2rem;
}
.product-bottom-list__item--title {
  font-size: 1.8rem;
  position: relative;
  margin-top: 4rem;
  margin-left: 4rem;
  color: #fff;
}
.product-bottom-list__item--sub {
  font-size: 1.6rem;
  position: relative;
  margin: 1.5rem 39% 2rem 4rem;
  height: 8rem;
  color: #fff;
}
.product-bottom-list__item--button {
  position: relative;
  font-size: 1.6rem;
  color: #fff;
  background-color: #F0A21A;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  margin-left: 4rem;
  border: none;
}

.product-numerical {
  margin-top: 6.8rem;
}
.product-numerical-list {
  display: flex;
  justify-content: center;
}
.product-numerical-list__item {
  padding: 0 1rem;
  font-size: 1.8rem;
  color: #252930;
  font-family: Roboto-regular;
}

.base-partner {
  margin-top: 11.4rem;
}
.base-partner-heading {
  text-align: center;
  margin-bottom: 3.4rem;
}
.base-partner-heading__text {
  color: #FF9330;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5rem;
  font-family: Roboto-regular;
}
.base-partner-list {
  position: relative;
}
.base-partner-list__item .margin-image-golfzon {
  margin-top: 3rem;
}
.base-partner-list__item .margin-image-unicidex {
  margin-top: 6.8em;
}

.trademark-left {
  font-size: 8rem;
  cursor: pointer;
  position: absolute;
  color: #FF9330;
  left: -6%;
  top: 35px;
}

.trademark-right {
  font-size: 8rem;
  cursor: pointer;
  position: absolute;
  color: #FF9330;
  right: -6%;
  top: 35px;
}/*# sourceMappingURL=main.css.map */