html,
body {
  overflow-x: hidden;
  font-size: 1.6rem;
  line-height: 1em;
  color: #000;
  box-sizing: border-box;
}

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Roboto-Regular;
  line-height: 2em;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.header-active {
  color: #FF9330;
  font-weight: bold;
}

.base-btn {
  color: #fff;
  background-color: #FF9330;
  border-radius: 1.5rem;
  border: none;
}

.wrap-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 60vh;
  background-color: #fff;
}

.footer {
  padding-top: 3.6rem;
  position: relative;
  width: 100%;
  background-color: #FF9330;
  min-height: 28.5rem;
}
.footer-logo-image {
  width: 22.5rem;
  height: 2.9rem;
  filter: drop-shadow(0px 3px 5px rgba(255, 255, 255, 0.47));
}
.footer-logo-describe p {
  margin-top: 2.4rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-family: Roboto-regular;
}
.footer-address-title {
  color: #fff;
  font-size: 2.4rem;
  line-height: 3.9rem;
  font-weight: 700;
  font-family: Roboto-regular;
}
.footer-address-details {
  margin-top: 1.4rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-family: Roboto-regular;
}
.footer-address-phone {
  margin-top: 1.4rem;
  color: #fff;
  font-size: 2.4rem;
  line-height: 3.8rem;
  font-weight: 700;
  font-family: Roboto-regular;
}
.footer-address-number {
  margin-top: 1.4rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-family: Roboto-regular;
}
.footer-social-title {
  color: #fff;
  font-size: 2.4rem;
  line-height: 3.9rem;
  font-weight: 700;
  font-family: Roboto-regular;
}
.footer-social-icon__list {
  display: flex;
}
.footer-social-icon__list--item {
  margin-top: 1.4rem;
  padding-left: 1.8rem;
}
.footer-social-icon .none-padding {
  padding-left: 0rem;
}
.footer-copyright {
  margin-top: 3.5rem;
  border-top: 1px solid #CECECE;
  display: flex;
  justify-content: space-around;
}
.footer-copyright p {
  margin-top: 2.1rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-family: Roboto-regular;
  margin-bottom: 1.6rem;
}

.footer .wave {
  position: absolute;
  top: -10rem;
  left: 0;
  width: 100%;
  height: 10rem;
  background: url(../images/wave.jpg);
  background-size: 100rem 10rem;
}
.footer #wave1 {
  z-index: 1000;
  opacity: 0.9;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
.footer #wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 1rem;
  animation: animateWave_02 4s linear infinite;
}
.footer #wave3 {
  z-index: 999;
  opacity: 0.2;
  bottom: 1.5rem;
  animation: animateWave_02 3s linear infinite;
}
.footer #wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 2rem;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
.header {
  border-bottom: 1px solid #FF9330;
  height: 8rem;
}
.header-body {
  line-height: 8rem;
  align-items: center;
  justify-content: space-between;
}
.header-body-logo {
  width: 19.2rem;
  height: 2.5rem;
}
.header-body-logo a {
  display: block;
}
.header-body-menu {
  display: flex;
  justify-content: flex-end;
}
.header-body-menu__item {
  margin-left: 2.8rem;
}
.header-body-menu__item--link {
  font-size: 1.8rem;
  font-weight: 700;
}
.header-body-menu__item--link:hover {
  color: #FF9330;
}

.banner-home {
  position: relative;
}
.banner-home-btn {
  position: absolute;
  bottom: 22.5rem;
  left: 20rem;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 1rem 1.3rem;
}
.banner-home-btn a {
  display: flex;
  align-items: center;
  color: #fff;
}
.banner-home-btn__image {
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 0.8rem;
}

.content-home .home-info {
  position: relative;
  background-image: url("../images/actualites-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.content-home .home-info-body {
  padding-top: 13.4rem;
}
.content-home .home-info-body__title {
  font-size: 4.2rem;
  color: #FF9330;
  text-transform: uppercase;
  margin-bottom: 2.6rem;
}
.content-home .home-info-body__text {
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: justify;
  margin-bottom: 5.8rem;
}
.content-home .home-info-body__list {
  display: flex;
  flex-wrap: wrap;
}
.content-home .home-info-body__list-item {
  width: 50%;
  margin-bottom: 6.5rem;
}
.content-home .home-info-body__list-item--left {
  width: 6rem;
  height: 6rem;
}
.content-home .home-info-body__list-item--right-heading {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 700;
  color: #FF9330;
}
.content-home .home-info-body__list-item--right-text {
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #6d6d6d;
}
.content-home .home-industries {
  position: relative;
  margin-bottom: 12.9rem;
}
.content-home .home-industries-body__title {
  font-size: 4.2rem;
  line-height: 4.9rem;
  color: #fff;
  padding-top: 7.9rem;
  margin-left: 15rem;
  position: relative;
}
.content-home .home-industries-body__title span {
  position: absolute;
  width: 11.5rem;
  bottom: -0.6rem;
  left: 0;
  border-bottom: 0.4rem solid #FF9330;
}
.content-home .home-industries-body__list {
  display: flex;
  padding: 7.5rem 15rem 0;
}
.content-home .home-industries-body__list-item {
  background: #FF7E07;
  border: 3px solid #fff;
  border-radius: 15px;
  margin-right: 1rem;
  text-align: center;
  height: 42rem;
}
.content-home .home-industries-body__list-item--image {
  width: 15rem;
  height: 15rem;
  margin: 6.5rem auto 0;
}
.content-home .home-industries-body__list-item--heading {
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #fff;
  margin: 0.8rem 4.5rem 0.8rem;
}
.content-home .home-industries-body__list-item--text {
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #fff;
  margin: 0 3rem;
}
.content-home .home-industries-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 75.1rem;
}
.content-home .home-industries-image img {
  height: 100%;
  object-fit: cover;
}
.content-home .home-brand {
  position: relative;
  height: 59.6rem;
}
.content-home .home-brand-body {
  text-align: right;
  margin-top: 19.9rem;
  margin-right: 9.1rem;
  margin-left: 9rem;
  padding-top: 11.9rem;
}
.content-home .home-brand-body__title {
  font-size: 3.8rem;
  line-height: 4.5rem;
  color: #141414;
  margin-bottom: 4.9rem;
}
.content-home .home-brand-body__text {
  font-size: 3.6rem;
  line-height: 4.5rem;
  color: #FF9330;
  margin-bottom: 4.9rem;
}
.content-home .home-brand-body__list {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}
.content-home .home-brand-body__list-item {
  display: flex;
}
.content-home .home-brand-body__list-item .odometer {
  font-size: 3.6rem;
  color: #FF9330;
  line-height: 4.9rem;
}
.content-home .home-brand-body__list-item--heading {
  font-size: 3.6rem;
  color: #394244;
  line-height: 4.9rem;
}
.content-home .home-brand-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
}
.content-home .home-brand-image img {
  height: 100%;
  object-fit: cover;
}
.content-home .home-contact-image {
  background-image: url("../images/bannercontact.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30%;
  position: relative;
}
.content-home .home-contact-image .home-contact-btn {
  position: absolute;
  bottom: 3rem;
  left: 52.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 1rem 1.3rem;
  background-color: #fff;
}
.content-home .home-contact-image .home-contact-btn a {
  display: flex;
  align-items: center;
  color: #FF9330;
}
.content-home .home-contact-image .home-contact-btn__image {
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 0.8rem;
}
.content-home .home-reason {
  text-align: center;
}
.content-home .home-reason-title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #030303;
  margin-top: 15rem;
}
.content-home .home-reason-title span {
  display: block;
  font-weight: 700;
  color: #FF9330;
  font-size: 4.2rem;
}
.content-home .home-reason-text {
  color: #6d6d6d;
  font-size: 2rem;
}
.content-home .home-reason-text span {
  font-size: 2.4rem;
  display: block;
  margin-top: 3rem;
}
.content-home .home-reason-list__item {
  margin-top: 10.8rem;
}
.content-home .home-reason-list__item--image {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}
.content-home .home-reason-list__item--heading {
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 4.1rem;
}
.content-home .home-reason-list__item--text {
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: justify;
  color: #6d6d6d;
  margin: 0 1.5rem;
}
.content-home .home-map iframe {
  width: 100%;
  margin-top: 10.2rem;
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../font/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../font/Roboto-Regular.ttf");
}
.product-heading {
  margin-top: 11rem;
  margin-bottom: 10.4rem;
}
.product-heading-title {
  font-weight: 700;
  color: #FF9330;
  line-height: 5.2rem;
  font-size: 3.6rem;
  text-align: center;
  font-family: Roboto-regular;
}
.product-heading-sub {
  margin-top: 6.1rem;
  font-weight: 700;
  color: #000;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.6rem;
  font-family: Roboto-regular;
}

.product-top-list__item {
  height: 35rem;
  position: relative;
  left: 1rem;
}
.product-top-list__item--image {
  position: absolute;
  width: 58rem;
  height: 100%;
}
.product-top-list__item--image img {
  border-radius: 2rem;
}
.product-top-list__item--title {
  font-size: 1.8rem;
  position: relative;
  margin-top: 4rem;
  margin-left: 4rem;
  color: #fff;
}
.product-top-list__item--sub {
  font-size: 1.6rem;
  position: relative;
  margin: 1.5rem 39% 2rem 4rem;
  height: 8rem;
  color: #fff;
}
.product-top-list__item--button {
  position: relative;
  font-size: 1.6rem;
  color: #fff;
  background-color: #F0A21A;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  margin-left: 4rem;
  border: none;
}

.product-bottom {
  margin-top: 10.4rem;
}
.product-bottom-list__item {
  height: 35rem;
  position: relative;
  left: 1rem;
}
.product-bottom-list__item--image {
  position: absolute;
  width: 58rem;
  height: 100%;
}
.product-bottom-list__item--image img {
  border-radius: 2rem;
}
.product-bottom-list__item--title {
  font-size: 1.8rem;
  position: relative;
  margin-top: 4rem;
  margin-left: 4rem;
  color: #fff;
}
.product-bottom-list__item--sub {
  font-size: 1.6rem;
  position: relative;
  margin: 1.5rem 39% 2rem 4rem;
  height: 8rem;
  color: #fff;
}
.product-bottom-list__item--button {
  position: relative;
  font-size: 1.6rem;
  color: #fff;
  background-color: #F0A21A;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  margin-left: 4rem;
  border: none;
}

.product-numerical {
  margin-top: 6.8rem;
}
.product-numerical-list {
  display: flex;
  justify-content: center;
}
.product-numerical-list__item {
  padding: 0 1rem;
  font-size: 1.8rem;
  color: #252930;
  font-family: Roboto-regular;
}

.base-partner {
  margin-top: 11.4rem;
}
.base-partner-heading {
  text-align: center;
  margin-bottom: 3.4rem;
}
.base-partner-heading__text {
  color: #FF9330;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5rem;
  font-family: Roboto-regular;
}
.base-partner-list {
  position: relative;
}
.base-partner-list__item .margin-image-golfzon {
  margin-top: 3rem;
}
.base-partner-list__item .margin-image-unicidex {
  margin-top: 6.8em;
}

.trademark-left {
  font-size: 8rem;
  cursor: pointer;
  position: absolute;
  color: #FF9330;
  left: -6%;
  top: 35px;
}

.trademark-right {
  font-size: 8rem;
  cursor: pointer;
  position: absolute;
  color: #FF9330;
  right: -6%;
  top: 35px;
}/*# sourceMappingURL=main.css.map */