@import 'variables';
@import 'base';
@import 'footer';
@import 'header';
@import 'home';
@import 'mixin';
@import 'product';
@import 'career';
@import 'contact';

.base-partner{
    margin-top: 11.4rem;
    &-heading{
        text-align: center;
        margin-bottom: 3.4rem;
        &__text{
            color: $main;
            font-weight: 700;
            font-size: 4.2rem;
            line-height: 5rem;
            font-family: Roboto-regular;
        }
    }
    &-list{
        position: relative;
        &__item{
            .margin-image-golfzon{
                margin-top: 3rem;
            }
            .margin-image-unicidex{
                margin-top: 6.8em;
            }
        }
    }
}

.trademark-left{
    font-size: 8rem;
    cursor: pointer;
    position: absolute;
    color: $main;
    left: -6%;
    top: 35px;
}
.trademark-right{
    font-size: 8rem;
    cursor: pointer;
    position: absolute;
    color: $main;
    right: -6%;
    top: 35px;
}