@import 'variables';
@import 'base';
@import 'footer';
@import 'header';
@import 'home';
@import 'mixin';
@import 'product';
@import 'service';
@import 'career';
@import 'contact';
@import 'responsive-footer';
@import 'responsive-product';
@import 'responsive-career';
@import 'responsive-contact';
@import 'responsiveHeader';
@import 'responsiveHome';
@import 'responsiveService';

.base-partner {
    &-heading {
        text-align: center;
        margin-bottom: 3.4rem;
        &__text{
            color: $main;
            font-weight: 700;
            font-size: 4.2rem;
            line-height: 5rem;
        }
    }
    &-list {
        position: relative;
        &__item{
            text-align: center;
        }
    }
}
.base-map {
    iframe {
        width: 100%;
        height: 40rem;
    }
}
.trademark-left {
    position: absolute;
    left: -2%;
    top: 2.5rem;
    color: $main;
    font-size: 8rem;
    cursor: pointer;
}
.trademark-right {
    position: absolute;
    top: 2.5rem;
    right: -2%;
    color: $main;
    font-size: 8rem;
    cursor: pointer;
}
.product-pagination {
    margin-top: 6.8rem;
    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        &__item {
            color: $color-number;
            border: none;
            background: $white;
            padding: 0.5rem 1rem;
            font-size: 1.8rem;
        }
        &__left,
        &__right {
            color: $color-number;
            border: none;
            background: $white;
            padding: 0 1rem;
            font-size: 1.8rem;
        }
        &__item.active { 
            border: 0.1rem solid #FF9935;
            border-radius: 50%;
        }
    }
    button + button {
        margin-left: 1rem;
    }
}
.base-banner {
    &-service {
        background: url("../images/banner-2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    &-product {
        background: url("../images/banner-3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    &-career {
        background: url("../images/banner-4.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
    }
}
.modal-recruit {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 12;
    &-container {
        border-radius: 2rem;
        background: $white;
        margin: 0 auto;
        position: relative;
        animation: modalFaceIn ease 0.6s;
        min-height: 20rem;
        width: 60.7rem;
        &__close {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            padding: 1.5rem;
        }
        &__contact {
            color: $color-modat-contact;
            padding: 0 6rem 5.8rem;
            &--name,
            &--number,
            &--email,
            &--phone {
                display: flex;
                justify-content: space-between;
            }
            &--name {
                padding-top: 10.1rem;
            }
            .form-label { 
                font-size: 1.8rem;
            }
            .form-control {
                outline: none;
                border: 0.1rem solid #424242;
                border-radius: 1rem;
                width: 50%;
                color: $color-modat-contact;
                font-size: 1.8rem;
                padding-left: 1.2rem;
                margin-bottom: 2.8rem;
            }
            &--content {
                outline: none;
                font-size: 1.8rem;
                textarea {
                    width: 100%;
                    border: 0.1rem solid $border-contact-textarea;
                    border-radius: 1rem;
                    color: $color-modat-contact;
                    height: 13.1rem;
                    padding: 1rem 0 0 1rem;
                }
            }
            .form-image {
                margin-top: 2.2rem;
            }
            &--btn {
                background: $main;
                color: $white;
                border-radius: 1rem;
                font-family: Roboto-Bold;
                border:none;
                height: 100%;
                width: 14.8rem;
                font-size: 1.8rem;
                padding: 0.9rem 2.3rem 1.1rem;
                margin-top: 3.4rem;
            }
        }
    }
    &.visible {
        display: flex;
    }
}
.modal-map {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 13;
    &-address{
        min-height: 60.38rem;
        width: 60.38rem;
        position: relative;
        animation: modalFaceIn ease 0.6s;
        border-radius: 1rem;
        &__close{
            .close-icon{
                position: absolute;
                color: #000;
                right: 0;
                top: 0;
                padding: 15px;
                cursor: pointer;
                opacity: 0.8;
                font-size: 1.8rem;
            }
            .close-icon:hover{
                opacity: 1;
            }
        }
        &__search{
            iframe{
                border-radius: 1rem;
                width: 100%;
                height: 60.38rem;
            }
        }
    }
    &.visible {
        display: flex;
    }
}
@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-14rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 7rem;
    right: 3rem;
    width: 5.2rem;
    height: 4.9rem;
    border: 0.1rem solid $white;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    background: transparent;
    z-index: 12;
    box-shadow: 1.5rem 1.5rem 3.8rem 0 rgb(0 0 0 / 20%);
    -webkit-box-shadow: 1.5rem 1.5rem 3.8rem 0 rgb(0 0 0 / 20%);
}
.message-btn {
    position: fixed;
    bottom: 14.5rem;
    right: 3rem;
    width: 5.5rem;
    height: 5.6rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    z-index: 12;
    box-shadow: 1.5rem 1.5rem 3.8rem 0 rgb(0 0 0 / 20%);
    -webkit-box-shadow: 1.5rem 1.5rem 3.8rem 0 rgb(0 0 0 / 20%);
}
@include responsive_pc {
    .base-partner {
        margin-top: 11.4rem;
        &-list{
            &__item {
                &--link{
                    width: 70%;
                }
                .margin-image-golfzon{
                    margin-top: 2.6rem;
                }
                .margin-image-unicidex{
                    margin-top: 6.3rem;
                }
                .margin-image-aia{
                    margin-top: 2.2rem;
                }
            }
        }
    }
    .base-banner {
        height: 51.3rem;
        position: relative;
    }
    .modal-recruit {
        .form-contact {
            padding: 0;
            margin-left: 0.1rem;
        }
    }
}
@include responsive_tablet-mobile {
    .base-banner {
        &-service,
        &-product,
        &-career { 
            padding-top: 50%;
        }
        &-product {
            background-position: unset;
        }
    }
}
@include responsive-tablet {
    .base-partner{
        margin: 10rem auto;
        width: 80%;
        &-list{
            line-height: 17rem;
            &__item{
            text-align: center;
                &--link{
                    width: 18rem;
                }
            }
        }
    }
    .trademark-left {
        left: -6% !important;
        font-size: 6rem;
    }
    .trademark-right {
        right: -6% !important;
        font-size: 6rem;
    }
}
@include responsive_mobile {
    .modal-recruit-container {
        width: 95%;
        &__contact{
            padding: 0 3rem;
            &--name{
                padding-top: 5rem;
                display: block;
            }
            &--email , 
            &--number ,
            &--phone {
                display: block;
            }
            .form-control {
                width: 100%;
                padding: 1.8rem 0rem 1.8rem 2.2rem;
                margin-bottom: 1.4rem;
            }
            .form-label {
                margin-bottom: 1.4rem;
            }
            .form-image {
                width: 80%;
                margin-top: 2rem;
            }
            &--content {
                textarea{
                    margin-top: 1.4rem;
                    padding: 1.6rem 0 0 2.2rem;
                }
            }
            &--btn{
                margin-bottom: 3.4rem;
                font-size: 2.1rem;
            }
            .row {
                justify-content: center !important;
            }
        }
    }
    .base-partner{
        margin: 3.8rem 0 15rem;
        &-heading__text{
            font-size: 2.8rem;
        }
        &-list__item {
            text-align: center;
            &--link {
                width: 14rem;
            }
        }
        &-list{
            line-height: 9rem;
            &__item{
                text-align: center;
                &--link{
                    width: 14rem;
                }
            }
        }
    }
    .trademark-right{
        display: none !important; 
    }
    .trademark-left{
        display: none !important; 
    }
    .slick-dots{
        display: flex !important;
        justify-content: center;
        margin-top: 1.8rem;
        li{
            margin: 0 0.5rem;
        }
        button{
            display: block;
            width: 1rem;
            height: 1rem;
            padding: 0;
            border: none;
            border-radius: 100%;
            background-color: $slick-dots;
            text-indent: -999.9rem;
        }
        li.slick-active button {
            background-color: $slick-dots-active;
        }
    }
    .message-btn{
        width: 3.5rem;
        height: 3.6rem;
    }
    #myBtn{
        width: 3.5rem;
        height: 3.5rem;
    }
    .modal-map{ 
        &-address{
            &__close {
                .close-icon {
                    right: 2.5rem;
                }
            }
            &__search{
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}
