@import 'variables';
@import 'base';
@import 'footer';
@import 'header';
@import 'home';
@import 'mixin';
@import 'product';
@import 'service';
@import 'career';
@import 'contact';
@import 'responsive-footer';
@import 'responsive-product';
@import 'responsive-career';
@import 'responsive-contact';
@import 'responsiveHeader';
@import 'responsiveHome';
@import 'responsiveService';
.base-partner{
    &-heading{
        text-align: center;
        margin-bottom: 3.4rem;
        &__text{
            color: $main;
            font-weight: 700;
            font-family: Roboto-regular;
            font-size: 4.2rem;
            line-height: 5rem;
        }
    }
    &-list{
        position: relative;
    }
}

.trademark-left{
    cursor: pointer;
    position: absolute;
    color: $main;
    font-size: 8rem;
    left: -6%;
    top: 35px;
}
.trademark-right{
    cursor: pointer;
    position: absolute;
    color: $main;
    font-size: 8rem;
    right: -6%;
    top: 35px;
}
.product-pagination{
    margin-top: 6.8rem;
    &-list{
        display: flex;
        align-items: center;
        justify-content: center;
        &__item{
            color: $color-number;
            border: none;
            background: $white;
            padding: 0.5rem 1rem;
            font-size: 1.8rem;
        }
        &__left,
        &__right{
            color: $color-number;
            border: none;
            background: $white;
            padding: 0 1rem;
            font-size: 1.8rem;
        }
        &__item.active { 
            border: 1px solid #FF9935;
            border-radius: 50%;
        }
    }
    button + button {
        margin-left: 1rem;
    }
}
.base-banner {
    &-service {
        background: url("../images/banner-2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    &-product {
        background: url("../images/banner-3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    &-career {
        background: url("../images/banner-4.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
    }
}
.modal-recruit {
    .pd-0 {
        padding: 0;
    }
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    &-container {
        border-radius: 2rem;
        background: $white;
        margin: 0 auto;
        position: relative;
        animation: modalFaceIn ease 0.6s;
        min-height: 20rem;
        &__close {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            padding: 1.5rem;
        }
        &__contact {
            color: #949494;
            &--name,
            &--number,
            &--email,
            &--phone {
                display: flex;
                justify-content: space-between;
            }
            .form-label { 
                font-size: 1.8rem;
            }
            .form-control {
                outline: none;
                border: 1px solid #424242;
                border-radius: 1rem;
                width: 50%;
                color: #949494;
                font-size: 1.8rem;
            }
            &--content {
                outline: none;
                font-size: 1.8rem;
                textarea {
                    width: 100%;
                    border: 1px solid #424242;
                    border-radius: 1rem;
                    color: #949494;
                }
            }
            &--btn {
                background: $main;
                color: $white;
                border-radius: 1rem;
                font-family: Roboto-Bold;
                border:none;
                height: 100%;
                width: 14.8rem;
                font-size: 1.8rem;
                padding: 0.9rem 2.3rem 1.1rem;
                margin-top: 3.4rem;
            }
        }
    }
    &.visible {
        display: flex;
    }
}
@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-14rem);
    }
    to {
        opacity: 1;
        transform: 0;
    }
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 7rem;
    right: 3rem;
    width: 5.2rem;
    height: 4.9rem;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    background: transparent;
    z-index: 12;
    box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 20%);
    -webkit-box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 20%);
}
.message-btn {
    position: fixed;
    bottom: 14.5rem;
    right: 3rem;
    width: 5.5rem;
    height: 5.6rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    background: #FF9935;
    z-index: 12;
    box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 20%);
    -webkit-box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 20%);
}
@include responsive_pc {
    .base-partner{
        margin-top: 11.4rem;
        &-list{
            &__item{
                .margin-image-golfzon{
                    margin-top: 3rem;
                }
                .margin-image-unicidex{
                    margin-top: 6.8em;
                }
            }
        }
    }
    .base-banner {
        height: 51.3rem;
    }
    .modal-recruit {
        .pd-0 {
            padding: 0;
        }
        .form-contact {
            padding: 0;
            margin-left: 0.1rem;
        }
        &-container {
            width: 60.7rem;
            &__contact {
                padding: 0 6rem 5.8rem;
                &--name {
                    padding-top: 10.1rem;
                }
                .form-control {
                    padding-left: 1.2rem;
                    margin-bottom: 2.8rem;
                }
                &--content {
                    textarea {
                        height: 13.1rem;
                        padding-left: 1rem;
                        padding-top: 1rem;
                    }
                }
                .form-image {
                    margin-top: 2.2rem;
                }
            }
        }
    }
}
@include responsive_tablet-mobile {
    .base-banner {
        &-service,
        &-product,
        &-career { 
            padding-top: 50%;
        }
    }
}
@include responsive-tablet{
    .base-partner{
        margin-top: 6.4rem !important;
        margin-bottom: 16rem;
        &-list__item{
            text-align: center;
        }
    }
    .trademark-left {
        left: -3% !important;
    }
    .trademark-right {
        right: -3% !important;
    }
}
@include responsive_mobile{
    .modal-recruit-container{
        width: 95%;
        &__contact{
            padding: 0 3rem;
            &--name{
                padding-top: 5rem;
                display: block;
            }
            &--email , 
            &--number ,
            &--phone{
                display: block;
            }
            .form-control{
                width: 100%;
                padding: 1.8rem 0rem 1.8rem 2.2rem;
                margin-bottom: 1.4rem;
            }
            .form-label{
                margin-bottom: 1.4rem;
            }
            .form-image {
                width: 80%;
                margin-top: 2rem;
            }
            &--content {
                textarea{
                    margin-top: 1.4rem;
                    padding-left: 2.2rem;
                    padding-top: 1.6rem;
                }
            }
            &--btn{
                margin-bottom: 3.4rem;
                font-size: 2.1rem;
            }
            .row {
                justify-content: center !important;
            }
        }
    }

    .base-partner{
        margin-top: 3.8rem !important;
        margin-bottom: 15rem;
        &-heading__text{
            font-size: 2.8rem !important;
        }
    }
    .trademark-right{
        display: none !important; 
    }
    .trademark-left{
        display: none !important; 
    }
    .base-partner-list__item {
        text-align: center;
        // line-height: 8.3rem;
    }
    .base-partner-list__item--link{
        width: 14rem;
    }
    .base-partner-list__item .margin-image-unicidex {
        // margin-top: 5.2rem !important;
    }
    .slick-dots{
        display: flex  !important;
        justify-content: center;
        margin-top: 1.8rem;
    }
    .slick-dots{
        li{
            margin: 0 0.5rem;
        }
    }
    .slick-dots{
        button{
            display: block;
            width: 1rem;
            height: 1rem;
            padding: 0;
            border: none;
            border-radius: 100%;
            background-color: $slick-dots;
            text-indent: -9999px;
        }
    }
    .slick-dots li.slick-active button {
        background-color: $slick-dots-active;
    }
}